<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="classes">
  <test  name="Test1" >
    <classes>
    <class name="atAssignment.contactUs"/>
	
    </classes>
  </test> <!-- Test2 -->
   <test  name="Test2" >
    <classes>
   
	<class name="atAssignment.scrollingAround"/>
    </classes>
  </test> <!-- Test2 -->

</suite> <!-- Suite -->
